html 
{
    scroll-behavior: smooth;
} 

.custom-navbar-1
{
    padding-top: 25px;
    background-color: rgb(184, 77, 48);
}

.custom-navbar-2
{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #B46D5A;
}

.custom-navbar-brand-text
{
    color: white;
    font-weight: 700;
}

.custom-navbar-link-text
{
    color: white;
}

.custom-footer
{
    background-color: rgb(184, 77, 48);
    color: white;
}

.custom-footer-text
{
    color: white;
}

a:hover 
{
    color: white;
}

.nav-link:hover 
{
    color: black;
    background-color:  rgb(184, 77, 48);
    transition-timing-function: ease-in;
    transition: 0.5s;
}

.fas
{
    color: white;
    border: 1px solid white;
    border-radius: .25rem;
    padding: .25rem .75rem;
}

.spacer200top 
{
    margin-top: 200px;
}

@media (min-width: 992px){
    .custom-navbar-1 {
        padding-left : 20em;
        padding-right : 20em;
    }
}

@media (min-width: 992px){
    .custom-navbar-2 {
        padding-left : 20em;
        padding-right : 20em;
    }
}

#socialgroup{
    padding-left: 15px;
}
#social{
   color: white;
   padding-left: 10px;
}

#social:hover{
    color: #0389ce;
    text-decoration: none;
 }

 #TopScrollBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: solid 1px white; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(184, 77, 48); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #TopScrollBtn:hover {
    background-color: #B46D5A; /* Add a dark-grey background on hover */
  } 

  #custom-brand-logo-roman
  {
    fill: white;
  }

  #custom-brand-logo-nod
  {
    fill: white;
    /* position: absolute; */
    width: 60px;
    height: 50px;
    /* top: 38px;
    left: 330px; */
  }